---
import type { CollectionEntry } from 'astro:content'
import Title from '@components/Title.astro'
import Button from '@components/Button.astro'
import PostDate from '@components/Blog/Post/PostDate.astro'
import { i18n } from '@i18n/index'

type Props = {
	item: CollectionEntry<'blog'>
}

const { r } = i18n(Astro.url)

const { item } = Astro.props

const url = item.slug.slice(3)
---

<li class="flex flex-shrink-0 flex-col px-4 py-6 sm:flex-1 sm:p-0">
	<img src={item.data.image.src} alt={item.data.image.alt} class="max-h-72 object-cover md:max-h-none" />
	<Title type="h3" class="mt-4 md:mt-6">{item.data.title}</Title>
	<PostDate publishDate={item.data.publishDate} />
	<p class="mb-4 mt-1">{item.data.description}</p>
	<Button as="a" href={r(`/blog/${url}/`)} class="mt-auto">See more</Button>
</li>
