---
import Link from '@components/Link.astro'
import Container from '@components/Container.astro'
import LanguageSwitch from '@components/LanguageSwitch.astro'
import { i18n } from '@i18n/index'

const ASTRO_URL = 'https://astro.build/'
const GITHUB_PROFILE_URL = 'https://github.com/tboerc'
const GITHUB_REPOSITORY_URL = 'https://github.com/tboerc/tboerc.github.io'
const LINKEDIN_URL = 'https://www.linkedin.com/in/tiago-boer-casagrande'
const NPM_PROFILE_URL = 'https://www.npmjs.com/~tboerc'

const { t } = i18n(Astro.url)
---

<footer>
	<Container parentClass="border-t border-b-0" class="gap-4 md:py-4">
		<LanguageSwitch />
	</Container>
	<Container parentClass="border-t border-b-0" class="flex-col py-6 sm:flex-row sm:items-center md:py-8">
		<div>
			<div>
				{t('footer.createdBy')}
				<Link href={GITHUB_REPOSITORY_URL}>Tiago</Link>
			</div>
			<div>
				{t('footer.built')}
				<Link href={ASTRO_URL}>Astro</Link>
			</div>
		</div>
		<div class="flex gap-4 sm:ml-auto md:gap-6">
			<Link href={LINKEDIN_URL}>LinkedIn</Link>
			<Link href={GITHUB_PROFILE_URL}>Github</Link>
			<Link href={NPM_PROFILE_URL}>npm</Link>
		</div>
	</Container>
</footer>
