---
import type { BlogSchema } from '@schemas/index'
import BaseLayout from '@layouts/BaseLayout.astro'
import Title from '@components/Title.astro'
import { i18n } from '@i18n/index'

type Props = { body: string } & BlogSchema

const { t, locale } = i18n(Astro.url)

const { title, description, body, image, publishDate } = Astro.props

const readTime = (text: string) => {
	const wpm = 225
	const words = text.trim().split(/\s+/).length
	return Math.ceil(words / wpm)
}
---

<BaseLayout title={`${title} - Blog`} description={t('blog.postAbout') + description}>
	<main class="container 2xl:max-w-screen-xl">
		<div class="flex flex-col border-b border-black px-4 py-6 md:px-6 md:py-8">
			<Title as="h1" type="h2">
				{title}
			</Title>

			<p class="mt-1 lg:text-xl">{description}</p>

			<span class="text-sm font-bold uppercase text-zinc-500 sm:text-base">
				{publishDate.toLocaleDateString(locale, { dateStyle: 'medium' })} - {readTime(body)}
				{t('blog.read')}
			</span>
		</div>

		<article
			class="prose mx-auto px-4 py-6 lg:prose-xl prose-blockquote:border-violet-800 prose-hr:border-black sm:px-0 md:py-8"
		>
			<img src={image.src} alt={image.alt} class="object-cover" />
			<slot />
		</article>
	</main>
</BaseLayout>
